body {
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
}
.wrapper {
    width: 100%;
    max-width: 768px;
    background-color: #1E1E1E;
    position: relative;
}

header {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    grid-gap: 20px;
    align-items: center;
}
header > a, a:visited, a:active, a:hover {
    height: 100%;
    display: flex;
    grid-gap: 20px;
    align-items: center;
    text-decoration: none;
    color: #EEEEEE;
}


#logo {
    height: 100%;
}

#name {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    grid-gap: 10px;
}
#changer {
    width: 100%;
    min-width: 100px;
    height: 30px;
    background-color: #2E2E2E;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 291px) {
    #name {
        font-size: 18px;
    }
    #changer {
        height: 28px;
    }
}
@media screen and (max-width: 272px) {
    #name {
        font-size: 16px;
    }
    #changer {
        height: 25px;
    }
}
@media screen and (max-width: 251px) {
    #name {
        font-size: 14px;
    }
    #changer {
        height: 22px;
    }
}

main {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 40px;
}

.alert {
    width: 80%;
    padding: 15px;
    border: #EEEEEE 1px solid;
    border-radius: 8px;
    text-align: justify;
    
}
@media screen and (max-width: 550px) {
    .alert {
        width: 100%;
    }
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: auto;
    width: 220px;
    height: 45px;
    background-color: #2E2E2E;
    border-radius: 8px;
    border: #EEEEEE 1px solid;
    color: #EEEEEE;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    transition: .15s;
}
.buttons button:hover {
    box-shadow: 0 0 10px white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer button {
    width: 100%;
    height: 50px;
    background-color: #2E2E2E;
    color: #EEEEEE;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    transition: .15s;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer button:hover {
    background-color: #3D3D3D;
}